<!-- (at)model(space) Namespace.Folder.ModelClass (no semicolon!) To refer, call (at)Model.FieldorMethod-->
@model MoviePlotQuiz.Models.Quiz

@{
    ViewBag.Title = "Quiz";
}
<body style="background-color: silver">
    <p onload="highlight()"></p>
    <div class="column" style="width: 30%; float: left; ">
        <p>Question #@Model.QuestionNum: </p>

        <p>What movie is this?</p>

        <p id="plot">@Model.movieList[@Model.QuestionNum-1].Plot</p>
        <p>Select an answer</p>

        @for (int i = 1; i < @Model.Difficulty + 1; i++)
        {
            <p>
                @if (@Model.movieList[@Model.QuestionNum - 1].Title == Session["title" + i].ToString())
                {
                    if (Session["UserAnswer"].ToString() == @Model.movieList[@Model.QuestionNum - 1].Title)
                    {
                        <input type="radio" id="answer @i" name="Answer" disabled="disabled" checked/> <label style="color: green" id="label @i">@Session["title" + i]</label><label style="color: green" id="right @i">  - CORRECT!</label>
                    }
                    else
                    {
                        <input type="radio" id="answer @i" name="Answer" disabled="disabled" /> <label style="color: green" id="label @i">@Session["title" + i]</label><label id="right @i"></label>
                    }

                }
                else if (Session["UserAnswer"].ToString() == @Session["title" + i].ToString())
                {
                    <input type="radio" id="answer @i" name="Answer" disabled="disabled" checked/> <label style="color: red; text-decoration: line-through" id="label @i">@Session["title" + i]</label><label style="color: red" id="right @i">  - WRONG</label>
                }
                else
                {
                    string color = "color: black";

                    <input type="radio" id="answer @i" name="Answer" disabled="disabled" /> <label style="@color" id="label @i">@Session["title" + i]</label><label id="right @i"></label>
                }
            </p>
        }

        <form action="QuizPage" method="post" class="answer">
            <input type="submit" value="Next Question" />
        </form>
    </div>
    <div class="column" style="width: 33%; float:left ">
        <img style="float: right" src="@Model.movieList[@Model.QuestionNum-1].Poster" height="428" width="300">
    </div>
    <div class="column" style="float: left; width: 33%; text-align: center">
        <label>Movie Title:</label><p>@Model.movieList[@Model.QuestionNum - 1].Title</p>
        <label>Released: </label><p>@Model.movieList[@Model.QuestionNum - 1].Released</p>
        <label>Cast: </label><p>@Model.movieList[@Model.QuestionNum - 1].Actors</p>
        <label>Director(s): </label><p>@Model.movieList[@Model.QuestionNum - 1].Director</p>
        <p style="font-size: large; font-weight: bold">Current Score:</p>
        <p id="right" style="color: green">Right: @Model.AnswersCorrect</p>
        <p id="wrong" style="color: red">Wrong: @Model.AnswersWrong</p>
    </div>

    @*<script>

            if ('@Session["title"].ToString()' == '@Session["title1"].ToString()') {
                document.getElementById("label 1").style.color = "green";
            }
            if ('@Session["title"].ToString()' == '@Session["title2"].ToString()') {
                document.getElementById("label 2").style.color = "green";
            }
            if ('@Session["title"].ToString()' == '@Session["title3"].ToString()') {
                document.getElementById("label 3").style.color = "green";
            }

            if ('@Session["UserAnswer"].ToString()' == '@Session["title1"].ToString()') {
                document.getElementById("answer 1").checked = "true";
            }

            if ('@Session["UserAnswer"].ToString()' == '@Session["title2"].ToString()') {
                document.getElementById("answer 2").checked = "true";
            }

            if ('@Session["UserAnswer"].ToString()' == '@Session["title3"].ToString()') {
                document.getElementById("answer 3").checked = "true";
            }

            var correct = false;

            if ('@Session["UserAnswer"].ToString()' == '@Session["title"].ToString()') {
                var correct = true;
                if ('@Session["UserAnswer"].ToString()' == '@Session["title1"].ToString()') {
                    document.getElementById("right 1").innerHTML = "  - CORRECT!";
                    document.getElementById("right 1").style.color = "green";
                }

                if ('@Session["UserAnswer"].ToString()' == '@Session["title2"].ToString()') {
                    document.getElementById("right 2").innerHTML = "  - CORRECT!";
                    document.getElementById("right 2").style.color = "green";
                }

                if ('@Session["UserAnswer"].ToString()' == '@Session["title3"].ToString()') {
                    document.getElementById("right 3").innerHTML = "  - CORRECT!";
                    document.getElementById("right 3").style.color = "green";
                }
            }

            if (correct == false) {
                if ('@Session["UserAnswer"].ToString()' == '@Session["title1"].ToString()') {
                    document.getElementById("label 1").style.color = "red";
                    document.getElementById("label 1").style.textDecoration = "line-through";
                    document.getElementById("right 1").innerHTML = "  - WRONG";
                    document.getElementById("right 1").style.color = "red";
                }

                if ('@Session["UserAnswer"].ToString()' == '@Session["title2"].ToString()') {
                    document.getElementById("label 2").style.color = "red";
                    document.getElementById("label 2").style.textDecoration = "line-through";
                    document.getElementById("right 2").innerHTML = "  - WRONG";
                    document.getElementById("right 2").style.color = "red";
                }
                if ('@Session["UserAnswer"].ToString()' == '@Session["title3"].ToString()') {
                    document.getElementById("label 3").style.color = "red";
                    document.getElementById("label 3").style.textDecoration = "line-through";
                    document.getElementById("right 3").innerHTML = "  - WRONG";
                    document.getElementById("right 3").style.color = "red";
                }



            }


        </script>*@
</body>




