<!-- (at)model(space) Namespace.Folder.ModelClass (no semicolon!) To refer, call (at)Model.FieldorMethod-->
@model MoviePlotQuiz.Models.Quiz

@{
    ViewBag.Title = "Quiz";
}

<body style="background-color: silver">
    <div class="column" style="float: left; width: 31%; ">
        <p>Question #@Model.QuestionNum: </p>

        <p>What movie is this?</p>

        <p id="plot">@Model.movieList[@Model.QuestionNum - 1].Plot</p>
        <form action="QuizClone" method="post" class="question">
            <p>Select an answer</p>
            @for (int i = 1; i < Model.Difficulty + 1; i++)
            {
                <p>
                    <input type="radio" id="answer @i" name="Answer" value="@Session["title" + i]" required /> <label for="answer @i">@Session["title" + i]  </label>
                </p>
            }

            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="column" style="float: left; width: 32%">
        <img style="float: right" src="~/Content/riddlerQuestion.jpg" height="428" width="300">
    </div>
</body>

