<!--This page is shown after the player has answered all the questions in the quiz.
    It will give them a final total of questions right, wrong, and the percentage.
    Stretch goal: it will display the movie poster for all the correct answers -->
<!-- (at)model(space) Namespace.Folder.ModelClass (no semicolon!) To refer, call (at)Model.FieldorMethod-->
@using MoviePlotQuiz.Models
@{
    List<Movie> movieList = Session["MovieList"] as List<Movie>;
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body style="background-color: black; color:white; text-align: center">
    <h2>Summary of Quiz Results</h2>
    <label>Questions answered: @Convert.ToInt32(Session["QuestionCount"]) | Right: @Convert.ToInt32(Session["AnswersCorrect"]) | Wrong: @Convert.ToInt32(Session["AnswersWrong"]) | Percent: @Convert.ToDouble(Session["Percent"])%</label>
    <br />
    
    <form action="QuizOptions" method="post" class="toNewQuiz">
        <input class="btn" type="submit" value="Start New Quiz" style="margin-top: 5px" />
    </form>
   
    <br />
    <form action="Index" method="post" class="toHome">
        <input class="btn"  type="submit" value="Go to Home Page" />
    </form>
 
    <br />
    <form action="AddScore" method="post" class="toHome">
        <input class="btn" type="text" name="Name" value="" required maxlength="15" />
        <input class="btn" type="submit" value="Add me to the Leaderboards!" />
    </form>
    <br />
        <form action="~/Leaderboards/Index" method="post" class="toHome">
        <input class="btn" type="submit" value="Visit the Leaderboards" style="margin-bottom: 10px;"/>
    </form>
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                @for (int i = 1; i < movieList.Count; i++)
                {
                    <li data-target="#myCarousel" data-slide-to="@i"></li>
                }
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="@movieList[0].Poster" style="width:25%; margin:auto">
                </div>
                @for (int i = 1; i < movieList.Count; i++)
                {
                    <div class="item">
                        <img src="@movieList[i].Poster" style="width:25%; margin:auto">
                    </div>
                }
            </div>
        </div>
    </div>
    
</body>





